.App {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.main-p {
  font-size: 25px;
  text-align: center;
  text-shadow: 1px 5px 9px #ccc;
}

label {
  display: flex;
  margin-top: 30px;
  margin-bottom: 10px;
  text-shadow: 1px 5px 9px #ccc;



}

input {
  width: 400px;
  padding: 6px 12px;
  display: block;
  background-color: #fff;
  color: #444;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-control {
  margin-bottom: 20px;
}

button {
  transition: all 0.3s;
  padding: 10px 25px;
  border-radius: 9px;
  font-size: 16px;
  color: #fff;
  background-color: green;
  border: none;
  outline: none;
  margin-top: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  cursor: pointer;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);

}

button:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.error {
  transition: all 0.5s;
  color: red;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 7px 0 0 5px;
}